# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:5185/"

# Domain Configuration (importante para producción)
DOMAIN="https://tu-dominio.vercel.app"

# NextAuth Configuration
NEXTAUTH_SECRET="your-auth-secret-here" # Genera uno seguro para producción: openssl rand -base64 32
NEXTAUTH_URL="https://tu-dominio.vercel.app" # URL completa de tu aplicación en producción
